{% extends "base.html" %}
{% load imagekit %}

{% block title %}
    결산목록
{% endblock %}

<!-- <meta http-equiv="refresh" content="5"> -->

{% block content %}

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 pt-2 bg-light">
        <div class="col pb-2">
            <div class="input-group input-group-sm pb-1">
                <span class="input-group-text" id="addon-wrapping"><i class="las la-phone" style="font-size: 1.2em"></i></span>
                <input class="form-control customer_phone" list="customerPhoneOption" placeholder="주문자 전화번호" value="{{ customer_phone|default_if_none:'' }}">
                <span class="input-group-text" id="addon-wrapping"><i class="las la-user" style="font-size: 1.2em"></i></span>
                <input class="form-control customer_name" list="customerNameOption" placeholder="주문자 이름" value="{{ customer_name|default_if_none:'' }}">
            </div>
            <div class="input-group input-group-sm pb-1">
                <span class="input-group-text" id="addon-wrapping"><i class="las la-boxes" style="font-size: 1.2em"></i></span>
                <input class="form-control product_nickname_kr" list="productOptions" placeholder="제품명" value="{{ product_nickname_kr|default_if_none:'' }}">
                <datalist id="productOptions">
                    {% for choice in productdb %}
                        <option value="{{ choice.nickname_kr }}">({{ choice.name_kr }})</option>
                    {% endfor %}
                </datalist>
                <span class="input-group-text" id="addon-wrapping"><i class="las la-user-astronaut" style="font-size: 1.2em"></i></span>
                <input class="form-control order_receptionist" list="receptionistOptions" placeholder="접수자" value="{{ order_receptionist|default_if_none:'' }}">
                <datalist id="receptionistOptions">
                    {% for choice in userdb %}
                        <option value="{{ choice.username }}">
                    {% endfor %}
                </datalist>
                <span class="input-group-text" id="addon-wrapping"><i class="las la-user-tag" style="font-size: 1.2em"></i></span>
                <input class="form-control order_actor" list="actorOptions" placeholder="대행자" value="{{ order_actor|default_if_none:'' }}">
                <datalist id="actorOptions">
                    {% for choice in userdb %}
                        <option value="{{ choice.username }}">
                    {% endfor %}
                </datalist>
            </div>

            <div class="input-group input-group-sm pb-1">
                <input class="form-control Qstart" id="startdate" type="text" placeholder="검색 시작일" value="{{ Qstart|default_if_none:'' }}">
                <span class="input-group-text" id="addon-wrapping"><i class="las la-hourglass-start" style="font-size: 1.2em"></i><i class="las la-arrow-right"></i><i class="las la-hourglass-end" style="font-size: 1.2em"></i></span>
                <input class="form-control Qend" id="enddate" type="text" placeholder="검색 마감일" value="{{ Qend|default_if_none:'' }}">
            </div>

            <div class="input-group input-group-sm">
                <input class="form-control pkstart" id="pkstart0" type="text" placeholder="검색 시작번호" value="{{ pkstart|default_if_none:'' }}">
                <span class="input-group-text" id="addon-wrapping"><i class="las la-sort-numeric-down" style="font-size: 1.2em"></i><i class="las la-arrow-right"></i><i class="las la-sort-numeric-up-alt" style="font-size: 1.2em"></i></span>
                <input class="form-control pkend" id="pkend0" type="text" placeholder="검색 끝번호" value="{{ pkend|default_if_none:'' }}">
            </div>
        </div>

        <div class="col mb-1">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 d-flex justify-content-between">
                <div class="col my-1 d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-secondary me-1" disabled>입금</button>
                    <div>
                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input check_confirm_transit" type="radio" name="check_confirm_transit0" id="check_confirm_transit1" value=2>
                            <label class="form-check-label" for="check_confirm_transit1">모두</label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline me-2">
                        <input class="form-check-input check_confirm_transit" type="radio" name="check_confirm_transit0" id="check_confirm_transit2" value=1>
                        <label class="form-check-label" for="check_confirm_transit2">입금완</label>
                    </div>
                    <div class="form-check form-check-inline me-2">
                        <input class="form-check-input check_confirm_transit" type="radio" name="check_confirm_transit0" id="check_confirm_transit3" value=0>
                        <label class="form-check-label" for="check_confirm_transit3">미입금</label>
                    </div>
                </div>
                <div class="col flex-fill my-1 d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-secondary me-1" disabled>상태</button>
                    <div class="form-check form-check-inline me-2">
                        <input class="form-check-input check_confirm_watch" type="checkbox" name="check_confirm_watch0" id="check_confirm_watch0" value=1>
                        <label class="form-check-label" for="check_confirm_watch0">유의건</label>
                    </div>
                    <div class="form-check form-check-inline me-2">
                        <input class="form-check-input check_blacklist" type="checkbox" name="check_blacklist0" id="check_blacklist0" value=1>
                        <label class="form-check-label" for="check_blacklist0">Blacklist</label>
                    </div>
                </div>
                <div class="col flex-fill btn-toolbar justify-content-end my-1">
                    <div class="btn-group m-1" role="group">
                        <button class="btn btn-danger" type="button" id="btn_search">찾기</button>
                        <button class="btn btn-outline-danger" type="button" id="btn_reset"><a href={% url 'ordermanager:bill_detail' %}>초기화</a></button>
                        <button class="btn btn-outline-danger" type="button" id="btn_bill_csv">csv 다운로드</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div style="text-align: center; font-size: 1.6em;"><b>결산</b></div>
            <!-- <div style="text-align: right;"><a href="">다운로드</a></div> -->
            <div class="row justify-content-between">
                <div class="col col-auto">
                    {% if customer_name or customer_phone or product_nickname_kr or order_receptionist or order_actor or Qstart or Qend or pkstart or pkend or check_confirm_transit or check_confirm_transit_cancel or check_confirm_cancel or check_confirm_watch or check_blacklist %}
                        <span id="searched">다음에 대한 검색결과:</span>
                    {% endif %}
                    {% if customer_name %}
                        <div class="badge bg-secondary mx-1">주문자 이름: {{ customer_name }} </div>
                    {% endif %}
                    {% if customer_phone %}
                        <div class="badge bg-secondary mx-1">주문자 전화: {{ customer_phone }} </div>
                    {% endif %}
                    {% if product_nickname_kr %}
                        <div class="badge bg-secondary mx-1">제품명: {{ product_nickname_kr }} </div>
                    {% endif %}
                    {% if order_receptionist %}
                        <div class="badge bg-secondary mx-1">접수자: {{ order_receptionist }} </div>
                    {% endif %}
                    {% if order_actor %}
                        <div class="badge bg-secondary mx-1">대행자: {{ order_actor }} </div>
                    {% endif %}
                    {% if Qstart %}
                        <div class="badge bg-secondary mx-1">{{ Qstart }}부터 </div>
                    {% endif %}
                    {% if Qend %}
                        <div class="badge bg-secondary mx-1">{{ Qend }}까지 </div>
                    {% endif %}
                    {% if pkstart %}
                        <div class="badge bg-secondary mx-1">{{ pkstart }}번부터 </div>
                    {% endif %}
                    {% if pkend %}
                        <div class="badge bg-secondary mx-1">{{ pkend }}번까지 </div>
                    {% endif %}
                    {% if check_confirm_transit == '2' %}
                        <div class="badge bg-secondary mx-1">입금항목 전부 </div>
                    {% elif check_confirm_transit == '1' %}
                        <div class="badge bg-secondary mx-1">입금완료 항목 </div>
                    {% elif check_confirm_transit == '0' %}
                        <div class="badge bg-secondary mx-1">미입금 항목 </div>
                    {% endif %}
                    {% if check_confirm_transit_cancel %}
                        <div class="badge bg-secondary mx-1">주문 취소건 제외하고 리스트 </div>
                    {% endif %}
                    {% if check_confirm_cancel %}
                        <div class="badge bg-secondary mx-1">주문 취소건 </div>
                    {% endif %}
                    {% if check_confirm_watch %}
                        <div class="badge bg-secondary mx-1">유의항목 </div>
                    {% endif %}
                    {% if check_blacklist %}
                        <div class="badge bg-secondary mx-1">블랙리스트 </div>
                    {% endif %}
                </div>
            </div>
            <div style="text-align: left;">
                {{ order_list_firstday | date:"y/m/d" }} - {{ order_list_lastday | date:"y/m/d" }}의 결산내역입니다.
            </div>

            <table class="table table-striped table-hover table-sm align-middle con_txt1">
                <thead>
                <tr style="text-align: center" class="table-dark">
                    <th scope="col">항목</th>
                    <th scope="col">주문건수</th>
                    <th scope="col">구입총액</th>
                    <th scope="col">판매총액</th>
                    <th scope="col">수익</th>
                </tr>
                </thead>
                <tbody>
                {% if benefit_all_list %}
                    {% for key, value in benefit_byproduct_list.items %}
                        <tr class="align-middle" style="text-align: center;">
                            <td>{{ key }}</td>
                            {% for v in value %}
                                <td>{{ v }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr class="align-middle table-warning" style="text-align: center; font-weight: bold">
                        <td>합계</td>
                        {% for v in benefit_all_list %}
                            <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr><td colspan="5" class="text-center">결산할 내역이 없습니다.</td></tr>
                {% endif %}
                </tbody>
            </table>

            <table class="table table-striped table-hover table-sm align-middle con_txt1">
                <thead>
                <tr style="text-align: center" class="table-dark">
                    <th scope="col">일자</th>
                    <th scope="col">주문건수</th>
                    <th scope="col">구입총액</th>
                    <th scope="col">판매총액</th>
                    <th scope="col">수익</th>
                </tr>
                </thead>
                <tbody>
                {% if benefit_all_list %}
                    {% for key, value in benefit_bydays_list.items %}
                        <tr class="align-middle" style="text-align: center">
                            <td>{{ key|date:"y/m/d" }}</td>
                            {% for v in value %}
                                <td>{{ v }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr class="align-middle table-warning" style="text-align: center; font-weight: bold">
                        <td>합계</td>
                        {% for v in benefit_all_list %}
                            <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr><td colspan="5" class="text-center">결산할 내역이 없습니다.</td></tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- 페이지 버튼 -->
    {% include "ordermanager/ordernav.html" %}



    <table class="table table-hover table-sm align-middle con_txt1">
        <thead>
        <tr style="text-align: center">
            <th scope="col">no.</th>
            <th scope="col">일자</th>
            <th scope="col">주문자</th>
            <th scope="col">연락처</th>
            <th scope="col" class="con_txt2">주소</th>
            <th scope="col">항목</th>
            <th scope="col">수량</th>
            <th scope="col">사이즈</th>
            <th scope="col">구입가</th>
            <th scope="col">판매가</th>
        </tr>
        </thead>
        <tbody>
        {% if order_list %}
            {% for order in order_list %}
                <tr class="align-middle" style="text-align: center;">
                    <td>{{ order.id }}</td>
                    <td>{% if order.order_date %}{{ order.order_date | date:"y/m/d"}}{% endif %}</td>
                    <td>{% if order.customer.name %}{{ order.customer.name }}{% endif %}</td>
                    <td>{% if order.customer.phone %}{{ order.customer.phone }}{% endif %}</td>
                    <td class="con_txt2">{% if order.order_addr %}{{ order.order_addr }}{% endif %}</td>
                    <td>{% if order.product.nickname_kr %}{{ order.product.nickname_kr }}{% endif %}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{% if order.size %}{{ order.size }}{% endif %}</td>
                    <td>{% if order.buying_price > 0 %}{{ order.buying_price }}{% endif %}</td>
                    <td>{% if order.selling_price > 0 %}{{ order.selling_price }}{% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" class="text-center">주문이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이지 버튼 -->
    {% include "ordermanager/ordernav.html" %}

    <!-- 검색과 페이징 -->
    <form id="searchForm" method="get" action="{% url 'ordermanager:bill_detail' %}">
    {% csrf_token %}
        <input type="hidden" id="customer_phone" name="customer_phone" value="{{ customer_phone|default_if_none:'' }}">
        <input type="hidden" id="customer_name" name="customer_name" value="{{ customer_name|default_if_none:'' }}">
        <input type="hidden" id="product_nickname_kr" name="product_nickname_kr" value="{{ product_nickname_kr|default_if_none:'' }}">
        <input type="hidden" id="order_receptionist" name="order_receptionist" value="{{ order_receptionist|default_if_none:'' }}">
        <input type="hidden" id="order_actor" name="order_actor" value="{{ order_actor|default_if_none:'' }}">
        <input type="hidden" id="Qstart" name="Qstart" value="{{ Qstart|default_if_none:'' }}">
        <input type="hidden" id="Qend" name="Qend" value="{{ Qend|default_if_none:'' }}">
        <input type="hidden" id="pkstart" name="pkstart" value="{{ pkstart|default_if_none:'' }}">
        <input type="hidden" id="pkend" name="pkend" value="{{ pkend|default_if_none:'' }}">
        <input type="hidden" id="check_confirm_transit" name="check_confirm_transit" value="{{ check_confirm_transit }}">
        <input type="hidden" id="check_confirm_watch" name="check_confirm_watch" value="{{ check_confirm_watch }}">
        <input type="hidden" id="check_blacklist" name="check_blacklist" value="{{ check_blacklist }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>

    <form id="csvForm" method="post" action="{% url 'ordermanager:bill_csv' %}">
    {% csrf_token %}
        <input type="hidden" id="customer_phone_csv" name="customer_phone" value="{{ customer_phone|default_if_none:'' }}">
        <input type="hidden" id="customer_name_csv" name="customer_name" value="{{ customer_name|default_if_none:'' }}">
        <input type="hidden" id="product_nickname_kr_csv" name="product_nickname_kr" value="{{ product_nickname_kr|default_if_none:'' }}">
        <input type="hidden" id="order_receptionist_csv" name="order_receptionist" value="{{ order_receptionist|default_if_none:'' }}">
        <input type="hidden" id="order_actor_csv" name="order_actor" value="{{ order_actor|default_if_none:'' }}">
        <input type="hidden" id="Qstart_csv" name="Qstart" value="{{ Qstart|default_if_none:'' }}">
        <input type="hidden" id="Qend_csv" name="Qend" value="{{ Qend|default_if_none:'' }}">
        <input type="hidden" id="pkstart_csv" name="pkstart" value="{{ pkstart|default_if_none:'' }}">
        <input type="hidden" id="pkend_csv" name="pkend" value="{{ pkend|default_if_none:'' }}">
        <input type="hidden" id="check_confirm_transit_csv" name="check_confirm_transit" value="{{ check_confirm_transit }}">
        <input type="hidden" id="check_confirm_watch_csv" name="check_confirm_watch" value="{{ check_confirm_watch }}">
        <input type="hidden" id="check_blacklist_csv" name="check_blacklist" value="{{ check_blacklist }}">
    </form>

    <div class="visually-hidden">
        {% if order_list.has_previous %}
            {% if order_list.number|add:-1 > 0 %}
                <a class="page-link btn" id="hidden_prev" data-page="{{ order_list.number|add:-1 }}" href="#">prev</a>
            {% endif %}
        {% endif %}
        {% if order_list.has_next %}
            {% if order_list.number|add:1 <= order_list.paginator.num_pages %}
                <a class="page-link btn" id="hidden_next" data-page="{{ order_list.number|add:1 }}" href="#">next</a>
            {% endif %}
        {% endif %}
    </div>

    <script>
        const hidden_prev=document.getElementById("hidden_prev");
        const hidden_next=document.getElementById("hidden_next");
        document.addEventListener("keydown", function(e) {
            let key=e.which;
            switch (key) {
                case 39:          //arrow right
                    hidden_next.click();
                    break;
                case 37:         //arrow left
                    hidden_prev.click();
                    break;
            }
        });

        $("#btn_bill_csv").on('click', function () {
            $("#customer_name_csv").val($(".customer_name").val());
            $("#customer_phone_csv").val($(".customer_phone").val());
            $("#product_nickname_kr_csv").val($(".product_nickname_kr").val());
            $("#order_receptionist_csv").val($(".order_receptionist").val());
            $("#order_actor_csv").val($(".order_actor").val());
            $("#Qstart_csv").val($(".Qstart").val());
            $("#Qend_csv").val($(".Qend").val());
            $("#pkstart_csv").val($(".pkstart").val());
            $("#pkend_csv").val($(".pkend").val());
            const transitNodeList = document.getElementsByName('check_confirm_transit0');
            const cTransitCancel = document.getElementsByName('check_confirm_transit_cancel0');
            const cTransit2 = document.getElementById('check_confirm_transit2');
            const cTransit3 = document.getElementById('check_confirm_transit3');
            transitNodeList.forEach((node) => {
                if(node.checked) {
                    document.getElementById('check_confirm_transit').value = node.value;
                }
            })
            cTransitCancel.forEach((node) => {
                if(node.checked) {
                    if(cTransit2.checked || cTransit3.checked){
                        document.getElementById('check_confirm_transit_cancel').value = node.value;
                    } else {
                        document.getElementById('check_confirm_transit_cancel').value = '';
                    }
                } else {
                    document.getElementById('check_confirm_transit_cancel').value = '';
                }
            })
            const cCancel = document.getElementsByName('check_confirm_cancel0');
            const cWatch = document.getElementsByName('check_confirm_watch0');
            const cBlack = document.getElementsByName('check_blacklist0');
            cCancel.forEach((node) => {
                if(node.checked) {
                    document.getElementById('check_confirm_cancel').value = node.value;
                } else {
                    document.getElementById('check_confirm_cancel').value = '';
                }
            })
            cWatch.forEach((node) => {
                if(node.checked) {
                    document.getElementById('check_confirm_watch').value = node.value;
                } else {
                    document.getElementById('check_confirm_watch').value = '';
                }
            })
            cBlack.forEach((node) => {
                if(node.checked) {
                    document.getElementById('check_blacklist').value = node.value;
                } else {
                    document.getElementById('check_blacklist').value = '';
                }
            })
            $("#csvForm").submit();
        });
    </script>
{% endblock %}