{% extends "base.html" %}
{% load imagekit %}
{% load templatetags %}

{% block title %}
    주문 상세
{% endblock %}
{% block content %}

    <div class="row mt-5">

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <strong>{{ field.tags }}</strong>
                    {% endif %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <!-- 주문관련 이미지 파트 -->
        <div class="col-lg-4 mb-3 d-flex">
            {% if order.orderimage_set.count > 0 %}
                <div class="accordion flex-fill" id="accordionExample">
                    {% for image in order.orderimage_set.all  %}
                        <div class="accordion-item">
                            <div class="accordion-header" id="heading{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                    <i class="las la-image" style="font-size: 32px"></i><br>
                                    <b>&emsp;이미지 #{{ forloop.counter }}</b>
                                </button>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a href="{{ image.image.url }}" target="_blank"><img src="{{ image.image.url }}" width="100%"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="align-self-stretch flex-fill border rounded d-flex align-items-center justify-content-center" style="padding: 10px;">
                <div style="color: gray">이미지 없음</div>
                </div>
            {% endif %}
        </div>

        <!-- 기본 주문정보 파트 -->
        <div class="col-lg-8">
            <div class="p-3 pb-2 bg-secondary bg-opacity-25 border rounded-top" style="border-color: #6c757d80 !important;">
                <!-- 주문 수정, 삭제 / 전화, 페이스북 링크 -->
                <div class="gap-2 d-flex flex-wrap justify-content-between pb-2">
                    <div class="gap-2">
                        {% if request.user == order.receptionist or request.user.is_staff %}
                            <!-- request.user|has_group:"managers" 그룹설정 -->
                            <a href="{% url 'ordermanager:order_modify' order.id %}" class="btn btn-secondary" id="order_modify_btn"><i class="las la-edit" style="font-size: 32px"></i><br>수정</a>
                            <a href="#" class="delete btn btn-secondary" data-uri="{% url 'ordermanager:order_delete' order.id %}" id="order_delete_btn"><i class="las la-trash-alt" style="font-size: 32px"></i><br>삭제</a>
                        {% endif %}
                    </div>
                    <div class="gap-2">
                        {% if order.customer.phone %}
                            <a class="btn btn-success" href="tel:{{ order.customer.phone }}" role="button" id="phone_btn">
                                <i class="las la-phone-square" style="font-size: 32px"></i><br>통화
                            </a>
                        {% endif %}
                        {% if order.customer.facebook_url %}
                            <a class="btn btn-primary" href="{{ order.customer.facebook_url }}" target="_blank" role="button" id="facebook_btn">
                                <i class="lab la-facebook-square" style="font-size: 32px"></i><br>페북
                            </a>
                        {% endif %}
                    </div>

                </div>
                <div class="">
                    <div class="btn-group btn-group-sm me-2 py-1" role="group">
                        <form action="{% url 'ordermanager:order_confirm_modify' order.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit" name="do_transit" id="do_transit">입금확인</button>
                            <button class="btn btn-outline-danger" type="submit" name="do_watch" id="do_watch">유의사항</button>
                            <button class="btn btn-outline-danger" type="submit" name="do_cancel" id="do_cancel">주문취소</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="bg-secondary bg-opacity-75 p-3 pt-2 pb-1 rounded-bottom">
                <div class="mt-1 mb-3">
                    <div>
                        <!-- 주문상태체크 -->
                        {% if order.confirm_transit and order.confirm_watch and order.confirm_cancel %}
                            <div class="mt-1 p-2 d-flex flex-wrap justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #198754, #dc3545, #d63384);">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-piggy-bank" style="font-size: 1.6em"></i></span> 입금확인</div>
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-flag" style="font-size: 1.6em"></i></span> 유의사항</div>
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-ban" style="font-size: 1.6em"></i></span> 주문취소</div>
                            </div>
                        {% elif order.confirm_transit and order.confirm_cancel %}
                            <div class="mt-1 p-2 d-flex flex-wrap justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #198754, #d63384);">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-piggy-bank" style="font-size: 1.6em"></i></span> 입금확인</div>
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-ban" style="font-size: 1.6em"></i></span> 주문취소</div>
                            </div>
                        {% elif order.confirm_transit and order.confirm_watch %}
                            <div class="mt-1 p-2 d-flex flex-wrap justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #198754, #dc3545);">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-piggy-bank" style="font-size: 1.6em"></i></span> 입금확인</div>
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-flag" style="font-size: 1.6em"></i></span> 유의사항</div>
                            </div>
                        {% elif order.confirm_watch and order.confirm_cancel %}
                            <div class="mt-1 p-2 d-flex flex-wrap justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #dc3545, #d63384);">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-flag" style="font-size: 1.6em"></i></span> 유의사항</div>
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-ban" style="font-size: 1.6em"></i></span> 주문취소</div>
                            </div>
                        {% elif order.confirm_transit %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: #198754;">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-piggy-bank" style="font-size: 1.6em"></i></span> 입금확인</div>
                            </div>
                        {% elif order.confirm_watch %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: #dc3545;">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-flag" style="font-size: 1.6em"></i></span> 유의사항</div>
                            </div>
                        {% elif order.confirm_cancel %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: #d63384;">
                                <div class="mx-2" style="color: white; font-weight: bold"><span class="badge rounded-pill bg-light text-dark"><i class="las la-ban" style="font-size: 1.6em"></i></span> 주문취소</div>
                            </div>
                        {% endif %}
                        <!-- 이름과 전화번호 -->
                        {% if not order.customer.name and not order.customer.phone %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #fd7e14, #dc3545);">
                                <div class="mx-2" style="color: white; font-weight: bold">주문자 이름과 전화번호가 없습니다.</div>
                            </div>
                        {% elif not order.customer.name %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #fd7e1480, #dc354580);">
                                <div class="mx-2" style="color: black; font-weight: bold">주문자 이름이 없습니다.</div>
                            </div>
                        {% elif not order.customer.phone %}
                            <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                                 style="background: linear-gradient(to right, #fd7e1480, #dc354580);">
                                <div class="mx-2" style="color: black; font-weight: bold">주문자 전화번호가 없습니다.</div>
                            </div>
                        {% endif %}
                        <div class="mt-1 p-2 d-flex justify-content-center align-items-center rounded"
                             style="background: linear-gradient(to right, #20c997, #0dcaf0);">
                            <div class="mx-2" style="color: black; font-weight: bold">{{ order.receptionist }}님이 {{ order.order_date|date:"y/m/n H:i:s" }}에 접수한 항목입니다.</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="z-index: 999;">
                        <form action="{% url 'ordermanager:price_update' order.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group py-1" style="z-index: 9999;">
                                <span class="input-group-text" id="addon-wrapping" style="font-size: 1em">구입가</span>
                                <input class="form-control buying_price" name="buying_price" id="buying_price" value="{{ buying_price|default_if_none:'' }}">
                                <span class="input-group-text" id="addon-wrapping" style="font-size: 1em">판매가</span>
                                <input class="form-control selling_price" name="selling_price" id="selling_price" value="{{ selling_price|default_if_none:'' }}">
                                <button class="btn btn-secondary" type="submit" id="price_btn">저장</button>
                            </div>
                        </form>
                    </div>
                    <!-- 가격체크 -->
                    {% if order.buying_price > 0 or order.selling_price > 0 %}
                        <div class="p-2 pt-4 d-flex flex-wrap justify-content-center align-items-center rounded"
                             style="background: linear-gradient(to right, #0d6efd, #6f42c1); transform: translateY(-20px); z-index: -9999;">
                            <div class="mx-2" style="color: white; font-weight: bold">{{ buying_actor }}님이 구입가 {{ buying_price }}원, 판매가 {{ selling_price }}원으로 업데이트하였습니다.</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- 주문정보 -->
            <table class="table table-sm mt-3">
                <thead>
                <tr class="table-dark">
                    <th scope="col">항목</th>
                    <th scope="col">내용</th>
                </tr>
                </thead>
                <tbody class="bg-light">
                {% if order.customer.name and order.customer.phone %}
                    <tr>
                        <th scope="row">고객이름</th>
                        <td>{{ order.customer.name }} ({{ order.customer.phone }})</td>
                    </tr>
                {% elif order.customer.name %}
                    <tr class="table-warning">
                        <th scope="row">고객이름</th>
                        <td>고객이름: {{ order.customer.name }} / 전화번호 없음</td>
                    </tr>
                {% elif order.customer.phone %}
                    <tr class="table-warning">
                        <th scope="row">고객이름</th>
                        <td>전화번호: {{ order.customer.phone }} / 고객이름 없음</td>
                    </tr>
                {% else %}
                    <tr class="table-warning">
                        <th scope="row">고객이름</th>
                        <td>고객이름과 전화번호가 없습니다. 입력해주세요.</td>
                    </tr>
                {% endif %}
                {% if order.order_addr %}
                    <tr><th scope="row">주소</th><td>{{ order.order_addr }}</td></tr>
                {% endif %}
                {% if order.customer.bank_depositor %}
                    <tr class="table-secondary"><th scope="row">별도입금자명</th><td>{{ order.customer.bank_depositor }}</td></tr>
                {% endif %}
                {% if order.customer.bank_refund %}
                    <tr class="table-secondary"><th scope="row">환불계좌</th><td>{{ order.customer.bank_refund }}</td></tr>
                {% endif %}
                {% if order.product %}
                    <tr class="sw-tableborder">
                        <th scope="row">주문항목</th>
                        <td>
                            {% if order.product.productimage_set.first %}
                                <img class="rounded" src="{{ order.product.productimage_set.first.image_thumbnail_fit.url }}" width="100px"><br>
                            {% endif %}
                            <strong>{{ order.product.nickname_kr }} ({{ order.product.name_kr }})</strong>
                            {% if order.quantity %} {{ order.quantity }}개 {% endif %}
                            {% if order.size %}/ {{ order.size }}{% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if order.receptionist_memo %}
                    <tr class="table-secondary"><th scope="row">주문메모</th><td>{{ order.receptionist_memo|mark }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <!-- 댓글 -->
        <div class="col-12">
            <h5 class="border-bottom mt-5 mb-1 py-2 ex-bold">| {{ order.actor_set.count }}개의 의견이 있습니다.</h5>
            <div class="row mb-5">

                <!-- 댓글등록 -->
                <div class="col-lg-4">
                    <form action="{% url 'ordermanager:actor_create' order.id %}" method="post" class="my-2">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% if field.errors %}
                                        <strong>{{ field.label }}</strong>
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="mb-2">
                            <label for="actor_memo" class="form-label mb-0">의견</label>
                            <textarea class="form-control" name="actor_memo" id="actor_memo" rows="3"></textarea>
                        </div>
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-secondary" value="제출">제출</button>
                        </div>
                    </form>
                </div>

                <!-- 댓글 목록 -->
                <div class="col-lg-8 mb-3">
                {% if order.actor_set.count > 0 %}
                    <table class="table table-sm mt-3">
                        <thead>
                        <tr class="table-dark">
                            <th scope="col">작성자</th>
                            <th scope="col">내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actor in order.actor_set.all %}
                            <tr class="bg-light">
                                <th scope="row">
                                    {{ actor.actor }}<br>
                                    {% if request.user == actor.actor or request.user.is_staff %}
                                        <a href="{% url 'ordermanager:actor_modify' actor.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                                        <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'ordermanager:actor_delete' actor.id %}">삭제</a>
                                    {% endif %}
                                </th>
                                <td>
                                    <div class="border-bottom border-1 pb-2 mb-2">
                                        <p class="m-0 p-0" style="font-size: 0.8em;">작성: {{ actor.actor_date }}</p>
                                        {% if actor.modify_date %}
                                            <p class="m-0 p-0" style="font-size: 0.8em;">수정: {{ actor.modify_date }}</p>
                                        {% endif %}
                                    <p class="mt-3">{{ actor.actor_memo|mark }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>


            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".delete").on('click', function (){
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = $(this).data('uri');
                }
            });
        });
    </script>
{% endblock %}